/* Our CSS file. */
.container, .content {
width: 100%;
height: 100%;
}
#image-in-div {
    width: 560px;
    height: 269px;
}
.head-page {
    background-color: aquamarine;
    height: 12vh;
}
.logo-block {
    float: left;
    margin: 7px;
}
.search-bar-set {
    float: right;
    position: relative;
    top: 43px;
}
.nav-row {
    display: inline-block;
    width: 100%;
    height: 65px;
    background-color: burlywood;
}
#navigation-bar {
    display: inline-block;
    width: 50vh;
    font-size: 5vh;
    text-align: center;
    text-decoration: none;
}
#navigation-bar:hover {
    text-decoration: underline;
    background-color: cornsilk;
}
.right-side-menu {
    float: right;
}
.left-side-menu {
    float: left;
}
#middle-container {
    display: inline-block;
    width: 25%;
    height: 80vh;
    vertical-align: top;
    font-size: 50px;
    position: relative;
    top: 30px;
    text-align: center;
}
#middle-mid-container {
    display: inline-block;
    width: 50%;
    position: relative;
    top: 75px;
}
.footer-page {
    background-color: coral;
    display: inline-block;
    width: 100%;
    height: 5vh;
    font-size: 43px;
    text-align: center;
}
.search-bar-inside {
    height: 37px;
    border: 1px solid black;
    border-radius: 18px;
    border: 1px solid lightgray;
    outline: none;
    cursor: text;
}
#left-side-bar {
    list-style: none;
}
#right-side-bar {
    list-style: none;
}
.search-bar-inside:hover{
    border-color: lightcoral;
    border: 5px solid lightcoral;
}
